
   body {
       background: #f4f4f4;
       font: 12px Tahoma;
   }

   h1 {
       text-align: center;
   }

   h2 {
       padding-left: 400px;
   }

   p {
       padding-left: 400px;
   }

   span {
       padding-left: 440px;
   }

   a {
       padding-left: 440px;
   }

   ul {
       padding-left: 440px;
   }

   hr {
       width: 50%;
       margin: 1em auto;
       border: none;
       height: 1px;
       background: #ccc;
   }
