body {
  position: relative;
}

input[type='button'] {
  position: fixed;
  right: 50px;
  width: 80px;
  height: 40px;
}

#content {
  width: 80vw;
}

.personal-card {
  font-family: san-serif;
}

.personal-card__info {
  margin: 25px auto;
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-color: #B5B5B5;
  border-radius: 20px;
}

.personal-card__info .info__skill {
  width: 80%;
  height: 200px;
}

.personal-card__info .info__skill p {
  display: inline-block;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 20px;
  padding: 20px;
  margin-left: 10px;
}

.personal-card__info .info__skill span {
  display: inline-block;
  margin-left: 50px;
}

.personal-card__info .info__contact img {
  display: inline-block;
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
}

.personal-card__info .info__contact .info__name-text {
  font-size: 2rem;
  font-weight: 600;
  margin: 15px 0;
  margin-left: 400px;
}

.personal-card__info .info__contact .info__name-text .info__text {
  font-size: 2rem;
  font-weight: 100;
  margin-left: 10px;
  text-align: right;
  text-decoration: underline;
}

.personal-card__info .info__social {
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
}

.personal-card__info .info__social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  margin-left: 25px;
}

.personal-card__notes {
  margin: 25px auto;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: #B5B5B5;
  border-radius: 20px;
}

.personal-card__notes h2 {
  text-align: center;
  margin-bottom: 10px;
}
