
.icon-coffee:before { content: '\e800'; } /* '' */
.icon-paper-plane:before { content: '\e801'; } /* '' */
.icon-monitor:before { content: '\e802'; } /* '' */
.icon-beaker:before { content: '\e803'; } /* '' */
.icon-right-open-big:before { content: '\e804'; } /* '' */
.icon-left-open-big:before { content: '\e805'; } /* '' */
.icon-left-open-mini:before { content: '\e806'; } /* '' */
.icon-right-open-mini:before { content: '\e807'; } /* '' */