body {
    color: #c9c9c9;
    font: 14px Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

#wrapper {
    height: 950px;
    width: 1064px;
    margin: auto;
    background-color: #ffffff;
}

header {
    padding: 50px 50px 25px 50px;
}

nav {
    list-style: none;
    background: #545454;
    margin-left: 50px;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    list-style: none;
}

nav ul {
    margin: 0;
}

nav li {
    list-style-position: inside;
    font: 15px 'Arial', sans-serif;
}

.top-menu li {
    display: inline-block;
    background: #545454;
    padding: 10px 22px;
    margin: 0;
}

.top-menu a {
    color: #fff;
}

.top-menu li a:hover:not(.active) {
    background-color: #464646;
    padding: 10px 20px 9px 20px;
    border: 1px solid #727679;
}

aside {
    float: left;
    margin: 50px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 145px;
    background-color: #fff;
   /* border: 1px solid #555;*/
    border-top: 50px;
}

aside li a {
    text-decoration: none;
    display: block;
    color: gray;
    padding: 20px 0 8px 20px;
    height: 12px;
}

aside li {
    list-style: none;
    text-align: left;
    border: 1px solid #c8c8c8;
    width: 240px;
    height: 40px;
}

aside li a:hover:not(.active) {
    background-color: #f9f9f9;
    color: black;
    padding: 20px 0 8px 40px;
}

blockquote {
    display: block;
    float: right;
    /*width: 678px;*/
    margin: 50px 50px 50px 0;
    padding: 40px 90px 40px 80px;
    border: 1px solid #c8c8c8;
}

p {
    display: block;
    margin-left: 360px;
    margin-right: 60px;
    margin-top: 60px;
    font: 14px 'Letraset', sans-serif;
    line-height: 1.5;
    color: black;
}

footer {
    height: 40px;
    width: 980px;
    margin-top: -100px;
    margin-left: 190px;
    background: #e1e1e1;
    color: black;
}

.foot-menu li {
    display: inline-block;
    padding: 10px 22px;
}

.foot-menu a {
    text-decoration: none;
    list-style: none;
    color: black;
}

.foot-menu li a:hover:not(.active) {
    text-decoration: underline;
}
