.bigNumeral {
  font-size: 5.625rem;
  color: #e9e9ea; }

h2, h3, h4, h5 {
  color: #2a2d32;
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4, h5 {
  font-size: 1rem; }

h5 {
  text-transform: uppercase; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

button {
  border: none;
  outline: none;
  font: 0; }

body {
  font-family: "Ubuntu Medium", "Arial", sans-serif, "Tahoma", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  color: #8a8a8a; }

.wrapper__header {
  padding-top: 1.875rem; }

.header {
  width: 1161px;
  margin: 0 auto;
  padding-bottom: 4.5625rem; }
  .header .header__banner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.1875rem; }
    .header .header__banner .logo {
      width: 13.375rem;
      display: block;
      text-decoration: none;
      display: flex;
      justify-content: space-between; }
      .header .header__banner .logo i {
        display: block;
        height: 2.3125rem;
        width: 2.3125rem; }
      .header .header__banner .logo .logo__title {
        font-size: 1.875rem;
        line-height: 1.75rem; }
      .header .header__banner .logo .logo__caption {
        font-size: 0.75rem;
        font-family: "Ubuntu Light", "Arial", sans-serif, "Tahoma", sans-serif;
        letter-spacing: 0.21875rem;
        line-height: 0.5625rem;
        text-transform: uppercase; }
    .header .header__banner .header__social {
      display: flex; }
      .header .header__banner .header__social .social__list {
        list-style: none;
        margin: auto; }
        .header .header__banner .header__social .social__list:after {
          display: block;
          content: '';
          clear: both;
          visibility: hidden;
          height: 0; }
        .header .header__banner .header__social .social__list .social__link {
          float: right;
          margin-left: 1.1875rem; }
          .header .header__banner .header__social .social__list .social__link .social__item {
            fill: #8a8a8a;
            width: 1rem;
            height: 1rem; }
            .header .header__banner .header__social .social__list .social__link .social__item:hover {
              fill: #248cec; }

.wrapper__menu {
  padding-bottom: 2.5rem; }

.header__menu {
  display: flex;
  justify-content: space-between;
  background-color: #2a2d32; }
  .header__menu .menu__list {
    list-style: none; }
    .header__menu .menu__list:after {
      display: block;
      content: '';
      clear: both;
      visibility: hidden;
      height: 0; }
    .header__menu .menu__list .menu__item {
      float: left;
      border-right: 0.0625rem solid #000; }
      .header__menu .menu__list .menu__item a {
        line-height: 3.875rem;
        padding: 1.375rem 2.5625rem;
        background-color: #2a2d32;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "Ubuntu Condensed", "Arial", sans-serif, "Tahoma", sans-serif; }
        .header__menu .menu__list .menu__item a:hover {
          color: #f4b60d; }
      .header__menu .menu__list .menu__item .menu__item--active {
        background-color: #248cec; }
  .header__menu .menu__search {
    background-color: #2a2d32;
    display: flex;
    padding-right: 0.5625rem;
    position: relative; }
    .header__menu .menu__search .search__input {
      background-color: #35383c;
      color: #5d6063;
      height: 2.3125rem;
      width: 15.0625rem;
      padding-left: 0.75rem;
      margin: auto;
      outline: none;
      border: 0; }
    .header__menu .menu__search .search__btn {
      background: none;
      border: none;
      outline: none;
      background-image: url(../img/search.png);
      background-repeat: no-repeat;
      width: 0.9375rem;
      height: 0.9375rem;
      position: absolute;
      right: 0.75rem;
      top: 1.5625rem;
      cursor: pointer; }

.main__wrapper-offers {
  padding-bottom: 5.5rem; }
  .main__wrapper-offers .main__items {
    width: 72.5625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .main__wrapper-offers .main__items .items {
      display: flex;
      justify-content: space-between; }
      .main__wrapper-offers .main__items .items .item__bigNumeral {
        font-size: 5.625rem;
        margin-right: 2.1875rem;
        color: #e9e9ea; }
      .main__wrapper-offers .main__items .items .item__content {
        width: 14.6875rem; }
        .main__wrapper-offers .main__items .items .item__content .content__caption {
          padding: 1.25rem 0 1.8125rem; }
        .main__wrapper-offers .main__items .items .item__content .content__text {
          font-family: 'Arial', sans-serif;
          font-size: 0.8125rem;
          padding-bottom: 1.625rem; }
        .main__wrapper-offers .main__items .items .item__content .content__icon {
          display: block;
          width: 2.25rem;
          height: 2.25rem;
          background-image: url(../img/icon_sprite.png);
          background-repeat: no-repeat; }
        .main__wrapper-offers .main__items .items .item__content .content__icon--relay {
          background-position: center; }
        .main__wrapper-offers .main__items .items .item__content .content__icon--track {
          background-position: right; }
        .main__wrapper-offers .main__items .items .item__content .items__readMore a {
          font-family: "Ubuntu Medium", "Arial", sans-serif, "Tahoma", sans-serif;
          font-size: 0.8125rem;
          text-decoration: none;
          color: #2a2b2e; }
          .main__wrapper-offers .main__items .items .item__content .items__readMore a span {
            color: #248cec; }
            .main__wrapper-offers .main__items .items .item__content .items__readMore a span:hover {
              color: #2a2b2e; }
              .main__wrapper-offers .main__items .items .item__content .items__readMore a span:hover span {
                color: #248cec; }
          .main__wrapper-offers .main__items .items .item__content .items__readMore a:hover {
            color: #248cec; }
            .main__wrapper-offers .main__items .items .item__content .items__readMore a:hover span {
              color: #2a2b2e; }

.main__wrapper-sevices {
  background-color: #2a2d32; }
  .main__wrapper-sevices .main__services {
    width: 1161px;
    margin: 0 auto;
    padding: 3.125rem 0 4.375rem; }
    .main__wrapper-sevices .main__services .title__services {
      color: #fff; }
    .main__wrapper-sevices .main__services .services__container {
      display: flex;
      justify-content: space-between;
      padding-top: 3.4375rem; }
      .main__wrapper-sevices .main__services .services__container .services__picture {
        padding-bottom: 2.1875rem; }
        .main__wrapper-sevices .main__services .services__container .services__picture:hover {
          opacity: 0.3; }
      .main__wrapper-sevices .main__services .services__container .services__picture--shedule a {
        display: block;
        width: 16.25rem;
        height: 16.25rem;
        background-image: url(../img/our_service/shedule_service.png); }
      .main__wrapper-sevices .main__services .services__container .services__picture--preventive a {
        display: block;
        width: 16.25rem;
        height: 16.25rem;
        background-image: url(../img/our_service/preventive_maintence.png); }
      .main__wrapper-sevices .main__services .services__container .services__picture--wheel a {
        display: block;
        width: 16.25rem;
        height: 16.25rem;
        background-image: url(../img/our_service/wheel_service.png); }
      .main__wrapper-sevices .main__services .services__container .services__picture--repair a {
        display: block;
        width: 16.25rem;
        height: 16.25rem;
        background-image: url(../img/our_service/repaire_service.png); }
      .main__wrapper-sevices .main__services .services__container .services__caption {
        text-align: center; }

.main__wrapper-content {
  background-color: #f7f7f7;
  padding-top: 4.0625rem; }
  .main__wrapper-content .main__content {
    width: 72.5625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .main__wrapper-content .main__content .content__title {
      padding-bottom: 3.125rem; }
  .main__wrapper-content section {
    width: 50%; }
  .main__wrapper-content .content__news .news__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem; }
    .main__wrapper-content .content__news .news__block .news__picture {
      position: relative;
      margin-right: 2.1875rem; }
      .main__wrapper-content .content__news .news__block .news__picture .picture__date {
        position: absolute;
        top: 0.625rem;
        left: -1.25rem px; }
        .main__wrapper-content .content__news .news__block .news__picture .picture__date .date__month {
          background-color: #248cec;
          color: #fff;
          width: 42px;
          line-height: 2.5rem px;
          text-align: center; }
        .main__wrapper-content .content__news .news__block .news__picture .picture__date .date__number {
          background-color: #f4b60d;
          color: #2a2b2e;
          width: 2.625rem px;
          line-height: 2.5rem px;
          text-align: center; }
  .main__wrapper-content .content__news .news__block--first i {
    display: block;
    width: 9.375rem;
    height: 9.375rem;
    background-image: url(../img/design-engineer.png); }
  .main__wrapper-content .content__news .news__block--second i {
    display: block;
    width: 9.375rem;
    height: 9.375rem;
    background-image: url(../img/electrical-engineer-720.png); }
  .main__wrapper-content .content__news .news__content .news__headline {
    padding: 0.5rem 0 0.875rem; }
    .main__wrapper-content .content__news .news__content .news__headline a {
      text-decoration: none;
      color: #2a2d32; }
      .main__wrapper-content .content__news .news__content .news__headline a:hover {
        color: #248cec; }
  .main__wrapper-content .content__news .news__content .news__caption {
    font-family: 'Arial', sans-serif;
    font-size: 0.8125rem;
    padding-bottom: 1.875rem; }
    .main__wrapper-content .content__news .news__content .news__caption a {
      text-decoration: none;
      color: #248cec; }
  .main__wrapper-content .content__news .news__content .news__text {
    font-family: 'Arial', sans-serif;
    font-size: 0.8125rem; }
  .main__wrapper-content .content__banners {
    margin-left: 2.5rem; }
    .main__wrapper-content .content__banners .banners__pannel {
      position: relative; }
      .main__wrapper-content .content__banners .banners__pannel .headline__btn {
        width: 100%;
        line-height: 2.375rem;
        padding-left: 3.75rem;
        cursor: pointer;
        background-color: #f7f7f7;
        text-align: left;
        color: #2a2d32;
        border: 0.125rem solid #e9e9ea;
        text-transform: uppercase;
        font-size: 0.8125rem;
        font-family: "Ubuntu Medium", "Arial", sans-serif, "Tahoma", sans-serif;
        margin-bottom: 0.375rem; }
        .main__wrapper-content .content__banners .banners__pannel .headline__btn::-webkit-details-marker {
          display: none; }
        .main__wrapper-content .content__banners .banners__pannel .headline__btn:before {
          display: block;
          position: absolute;
          left: 1.25rem;
          width: 1.5625rem;
          content: '+';
          font-size: 1.25rem;
          line-height: 2.375rem;
          border-right: 0.125rem solid #e9e9ea; }
        .main__wrapper-content .content__banners .banners__pannel .headline__btn details[open] .headline__btn:before {
          content: '-'; }
        .main__wrapper-content .content__banners .banners__pannel .headline__btn:hover, .main__wrapper-content .content__banners .banners__pannel .headline__btn:focus {
          transition: 0.4s;
          background-color: #f4b60d;
          color: #fff;
          outline: none; }
      .main__wrapper-content .content__banners .banners__pannel .pannel__text {
        font-family: 'Arial', sans-serif;
        font-size: 0.8125rem;
        padding: 1.25rem 0 2.75rem 2.375rem; }
      .main__wrapper-content .content__banners .banners__pannel details[open] .headline__btn:before {
        content: '-'; }

.main__banners {
  width: 72.5625rem;
  margin: 0 auto;
  padding: 6.25rem 0; }
  .main__banners .banners__container {
    display: flex;
    justify-content: space-between;
    padding-right: 2.5rem; }
    .main__banners .banners__container .banners__item {
      display: block;
      width: 7.3125rem;
      height: 3.75rem;
      background-image: url("../img/sprite_brands.png");
      background-repeat: no-repeat; }
    .main__banners .banners__container .banners__item--1 {
      background-position: -0.8125rem -0.75rem; }
    .main__banners .banners__container .banners__item--2 {
      background-position: -13.0625rem -0.75rem; }
    .main__banners .banners__container .banners__item--3 {
      background-position: -26.25rem -0.75rem;
      width: 158px; }
    .main__banners .banners__container .banners__item--4 {
      background-position: -40.5rem -0.75rem; }
    .main__banners .banners__container .banners__item--5 {
      background-position: -53.125rem -0.75rem;
      width: 7.625rem; }
    .main__banners .banners__container .banners__item--6 {
      background-position: -65.3125rem -0.75rem;
      width: 5.625rem; }

.footer {
  background-color: #2a2d32; }
  .footer .footer__wrapper {
    width: 72.5625rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3.875rem 0 4.375rem; }
    .footer .footer__wrapper section {
      width: 16.25rem; }
      .footer .footer__wrapper section h5 {
        padding-bottom: 2.25rem;
        color: #fff; }
      .footer .footer__wrapper section div {
        border-bottom: 0.0625rem solid #5d6063;
        padding: 0.875rem 0; }
      .footer .footer__wrapper section a {
        font-family: 'Arial', sans-serif;
        font-size: 0.8125rem;
        text-decoration: none;
        color: #8a8a8a; }
        .footer .footer__wrapper section a:hover {
          color: #248cec; }
    .footer .footer__wrapper .last__item {
      border: 0; }

.footer__bottom-wrapper {
  background-color: #35383c; }
  .footer__bottom-wrapper .footer__bottom {
    font-family: 'Arial', sans-serif;
    font-size: 0.8125rem;
    font-size: 12px;
    width: 1161px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 60px; }
    .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts {
      display: flex;
      flex-wrap: wrap; }
      .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts i {
        display: block;
        width: 16px;
        height: 20px;
        background-image: url("../img/sprite__footer.png");
        background-repeat: no-repeat; }
      .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom__text {
        padding: 0 36px 0 12px; }
      .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-adress {
        display: flex;
        justify-content: space-between; }
        .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-adress .bottom-adress__icon {
          margin: auto;
          background-position: -1px 0; }
      .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-tlf {
        display: flex;
        justify-content: space-between; }
        .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-tlf .bottom-tlf__icon {
          margin: auto;
          background-position: -16px 0; }
      .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-email {
        display: flex;
        justify-content: space-between; }
        .footer__bottom-wrapper .footer__bottom .footer__bottom-contacts .bottom-email .bottom-email__icon {
          margin: auto;
          background-position: -32px 0;
          width: 22px; }
    .footer__bottom-wrapper .footer__bottom .footer__copyright {
      width: 30%;
      text-align: center; }

.container {
  width: 65.5rem;
  overflow: hidden;
  float: left; }

.carusel__list {
  list-style: none;
  width: 6250rem;
  position: relative; }

.carusel__item {
  margin-right: 1.5625rem;
  float: left;
  display: block; }

.carusel__item img {
  max-width: 64.0625rem; }

.header__slider:after {
  display: block;
  content: '';
  clear: both;
  visibility: hidden;
  height: 0; }

.carusel-arrow__left,
.carusel-arrow__right {
  float: left;
  padding: 0.3125rem;
  margin-top: 10.625rem;
  border: 0.0625rem solid #5d6063;
  border-radius: 0.3125rem; }

.carusel-arrow__left:hover,
.carusel-arrow__right:hover {
  background-color: #8a8a8a;
  color: #fff;
  cursor: pointer; }

.carusel-arrow__left {
  margin-right: 2.5rem; }

.carusel-arrow__right {
  margin-left: 0.9375rem; }
